<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/adit</property>
		<property name="connection.username">adit</property>
		<property name="connection.password">+!r8Ywd\H~#;YR{</property>
		<property name="default_schema">public</property>
		
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection_pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<property name="current_session_context_class">thread</property>
		
		<!-- mapping classes -->
		<mapping class="ch.hsr.adit.domain.model.Advertisement" />
		<mapping class="ch.hsr.adit.domain.model.AdvertisementState" />
		<mapping class="ch.hsr.adit.domain.model.Category" />
		<mapping class="ch.hsr.adit.domain.model.Media" />
		<mapping class="ch.hsr.adit.domain.model.Message" />
		<mapping class="ch.hsr.adit.domain.model.MessageState" />
		<mapping class="ch.hsr.adit.domain.model.Permission" />
		<mapping class="ch.hsr.adit.domain.model.Role" />
		<mapping class="ch.hsr.adit.domain.model.Subscription" />
		<mapping class="ch.hsr.adit.domain.model.Tag" />
		<mapping class="ch.hsr.adit.domain.model.User" />
		<mapping class="ch.hsr.adit.domain.model.UserLog" />

	</session-factory>

</hibernate-configuration>